
元素 {
    text-align: left;
}
body {
    font-family: "微软雅黑","Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    word-break: break-all;
    word-wrap: break-word;
	
	background:#eeeeee; margin: 0px; padding: 0px;
}
body {
    text-align: left;
    font-weight: normal;
    color: #6a6a6a;
    font-family: "microsoft yahei","Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 22px#
}
p{
	float:left;
}



#item ul{list-style:none;}
#item li{float:left;width:100px;}

#item{
	float:left;
}


